.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 80%;
}
.shopcategory-indexSort{
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shopcategory-sort{
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shopcategory-indexSort p span{
    font-weight: 600;
}
.shopcategory-products{
    width: 90%;
    max-width: 1360px;
    justify-content: center;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    
}
.shopcategory-loadmore{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    width: 200px;
    height: 60px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 16px;
    font-weight: 500;
}

.shopcategory-banner-container {
    position: relative;
    width: 80%;
    margin: 30px auto;
}

/* Banner image */
.shopcategory-banner {
    display: block;
    width: 100%;
    height: auto;
}

/* Position the text absolutely over the image */
.shopcategory-banner-text {
    position: absolute;
    top: 46%; /* Adjust the vertical positioning */
    left: 16%; 
    transform: translate(-50%, -50%); /* Center the text */
    color: Black;
    text-align: left;
}
.shopcategory-banner-text h1{
    font-size: 40px;
}

.vertical-dashed-line {
    position: absolute;
    left: 64.92%; /* Center horizontally */
    top: 12%; /* Adjust this value to position the line vertically */
    transform: translateX(-50%);
    border-left: 2px dashed white;
    height: 201px; /* Adjust the height as needed */
}

.shop-now-button {
    display: inline-block;
    margin-top:35px;
    padding: 12px 25px;
    background-color: black; /* Choose your desired background color */
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease,
  }
  
  .shop-now-button:hover {
    background-color: white; /* Darken the background on hover */
    color: black;
    border: 2px solid black
  }


@media (max-width:1280px) {
    .shopcategory-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexSort{
        width: 90%;
       margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexSort p{
        font-size: 12px;
    }
}
@media (max-width:800px) {
    .shopcategory-banner{
        width: 95%;
    }
     .shopcategory-loadmore{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 13px;
    }
}
