.hero{
    min-height: 90vh;
    display: flex;
    overflow: hidden; 
    justify-content: center;
    padding: 0; 
    margin-top: 15px; 
}
.hero img{
    width: 1160px;
    height: 630px;
    border-radius: 25px;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}


@media only screen and (max-width: 768px) {
    .hero {
        min-height: 60vh; /* Reduce height for smaller screens */
        margin-top: 10px; /* Adjust top margin */
        padding: 10px; /* Add some padding */
    }

    .hero img {
        width: 300px; /* Make the image responsive */
        height: 200px; /* Maintain aspect ratio */
        border-radius: 15px;
        padding: 8px;  /* Reduce border-radius */
        border: 2px dashed grey; 
    }
}

@media only screen and (max-width: 480px) {
    .hero {
        min-height: 50vh; /* Further reduce height for very small screens */
        margin-top: 5px; /* Adjust top margin */
    }

    .hero img {
        border-radius: 10px; /* Reduce border-radius for very small screens */
    }
}


